*{  
    font-family: monospace;
      /* transition: all .s ease-in-out ; */
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.navbar {
    display: flex;
    flex-direction: row;
    height: 9vh;
    width: 54vw;
    margin-left: 33%;
}
.navbar li {
    font-family: monospace;
    display: flex;
    list-style: none;
}
.navbar li a{
    transition: all .1s ease-in-out;
    margin-left: 84px;
    margin-top: 40px;
    font-size: 1.3em;
    color: black;
    text-decoration: none;

}
.navbar li a:hover{
    transition: all .2.5s ease-in-out;
    color:rgb(0, 75, 110);
    transform: scale(1.1);
}

